body {
  background-image: url(../images/blue_background.jpeg);
  font-weight: lighter;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  z-index: -1;
     /*width: 697, height: 744*/
}

@font-face {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  src: local('Iceland'), local('Iceland-Bold'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}

h1 {
  font-size: 3.5em;
  color: white;
  text-align: center;
  vertical-align: middle;
}

h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}

h3 {
  font-size: 1.2em;
  color: white;
  text-align: center;
}


h5 {
  font-size: .9em;
  font-weight: lighter;
  letter-spacing: 1.5px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  color: white;
  vertical-align: center;
}

td{
  text-align: center;
}

tr {
  min-width: 800;
}

/* ----HEADER---- */

/* SCORE */
#scoreTxt {
  font-family: 'Iceland';
  font-size: 1.8em;
  position: absolute;
  top: 60px;
  left: 70px;
  z-index: 0;
}

#scoreKeeper {
  font-family: 'Iceland';
  position: absolute;
  top: 85px;
  left: 85px;
  z-index: 0;
}

#scoreWrapper {
  background: url('../images/blue_circle.png');
  width: 200px;
  height: 250px;
  background-size: 100%;
}
/* END SCORE */

/* LOGO */
#logoWrapper {

}

#logo {
  font-size: 3.5em;
  text-align: center;
  color: #228DFF;
  font-family: Iceland;
  z-index: 0;
}

#logo:hover {
  color: #ffffff;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  cursor: pointer; cursor: hand;
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}
/* END LOGO */

/* LOGIN */

#menuWrapper {
  background: url('../images/blue_circle.png');
  width: 200px;
  height: 250px;
  background-size: 100%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

#menuHam {
  float: left;
  position: relative;
  top: 60px;
  left: 22px;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
}

#menuHam:hover {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  cursor: pointer; cursor: hand;
}

#login {
  width: 150px;
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 0;
  opacity: .8;
  color: white;
  background: #00001F;
}
/* END LOGIN */

/* ----END HEADER---- */


/* BUTTON WORLD */
.btn {
  margin-top: 40px;
  width: 200px;
  padding: 8px;
  border-top: 1px solid #61baf2;
  background: #00001F;
  border-radius: 36px;
  color: white;
  font-size: 22px;
  font-weight: lighter;
  font-family: Iceland;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  opacity: .7;
}

.choice {
  width: 300px;
  height: 80px;
  margin-top: 10px;
}

.btn:hover {
  border-top-color: #285e82;
  color: #ffffff;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  cursor: pointer; cursor: hand;
}

.btn:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

/* END BUTTON WORLD */



/* TRIVIA SECTION */
#qBox {
  height: 100px;
  text-align: center;
  font-size: 22px;
  color: white;
}

#btnGroupInner {
  font-family: Iceland;
  position: fixed;
  margin: auto;
  height: 420px;
  width: 300px;
  padding: 20px;
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  border-radius: 25px;
  background: rgb(56, 56, 83);
  border-top: 1px solid #61baf2;
  border-bottom: 4px solid #000000;
  border-right: 4px solid #1C1C2A;
  opacity: .96;
  z-index: 2;
}

#btnGroupInner h5 {
  font-family: Iceland;
  margin-top: 10px;
  text-align: center;
  vertical-align: center;
  z-index: 10;
}
/* END TRIVIA SECTION */


/* ADD QUESTION FORM */
input {
  border: 1px solid white;
  height: 23px;
  -webkit-box-shadow:
    inset 0 0 15px  rgba(0,0,0,0.1),
          0 0 20px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 15px  rgba(0,0,0,0.1),
          0 0 20px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 15px  rgba(0,0,0,0.1),
          0 0 20px rgba(0,0,0,0.1);
  padding: 1px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 6px 0;
  border-radius: 10px;
}

.form-control {
  border: 1px solid white;
  width: 100%;
  background: white;
  color: #200;
  cursor: pointer;
  text-align: center;
  margin-top: 4px;
}

.addXyz {
  font-size: 20px;
  color: white;
}

.qForm {
  font-family: 'Iceland';
  margin-top: 20px;
  position: relative;
  padding-top: 2px;
  font-size: 20px;
  height: 25px;
  width: 100px;
  border-radius: 10px;
  border-top: 1px solid #61baf2;
  background: #338ccc;
  color: white;
  font-weight: lighter;
  text-align: center;
  vertical-align: middle;
  opacity: 1;
}

.qForm:hover {
  border-top-color: #285e82;
  background: #00001F;
  color: #ffffff;
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  cursor: pointer; cursor: hand;
}

.qForm:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

/* END ADD QUESTION FORM */
